{% extends 'base.html' %}

{% block content %}
    <!-- Hero Section -->
    {% include 'home/sections/hero.html' %}

    <!-- Immigration News Section -->
    {% include 'home/sections/news.html' %}

    <!-- Services Grid -->
    {% include 'home/sections/services.html' %}

    <!-- Country Information 
    {% include 'home/sections/countries.html' %}
-->
    <!-- Tools Section -->
    {% include 'home/sections/tools.html' %}
   
    <!-- Testimonials -->
    {% include 'home/sections/testimonials.html' %}

    <!-- FAQ Section -->
    {% include 'home/sections/faq.html' %}

    <!-- Newsletter + Contact -->
    {% include 'home/sections/newsletter.html' %}

    <!-- Desktop Footer -->
    {% include 'home/sections/footer.html' %}

{% endblock %}