<option value="">Select a country</option>
<option value="AF" {% if selected == 'AF' %}selected{% endif %}>Afghanistan</option>
<option value="AL" {% if selected == 'AL' %}selected{% endif %}>Albania</option>
<option value="DZ" {% if selected == 'DZ' %}selected{% endif %}>Algeria</option>
<option value="AR" {% if selected == 'AR' %}selected{% endif %}>Argentina</option>
<option value="AU" {% if selected == 'AU' %}selected{% endif %}>Australia</option>
<option value="AT" {% if selected == 'AT' %}selected{% endif %}>Austria</option>
<option value="BE" {% if selected == 'BE' %}selected{% endif %}>Belgium</option>
<option value="BR" {% if selected == 'BR' %}selected{% endif %}>Brazil</option>
<option value="CA" {% if selected == 'CA' %}selected{% endif %}>Canada</option>
<option value="CN" {% if selected == 'CN' %}selected{% endif %}>China</option>
<option value="DK" {% if selected == 'DK' %}selected{% endif %}>Denmark</option>
<option value="EG" {% if selected == 'EG' %}selected{% endif %}>Egypt</option>
<option value="FI" {% if selected == 'FI' %}selected{% endif %}>Finland</option>
<option value="FR" {% if selected == 'FR' %}selected{% endif %}>France</option>
<option value="DE" {% if selected == 'DE' %}selected{% endif %}>Germany</option>
<option value="GR" {% if selected == 'GR' %}selected{% endif %}>Greece</option>
<option value="IN" {% if selected == 'IN' %}selected{% endif %}>India</option>
<option value="ID" {% if selected == 'ID' %}selected{% endif %}>Indonesia</option>
<option value="IE" {% if selected == 'IE' %}selected{% endif %}>Ireland</option>
<option value="IT" {% if selected == 'IT' %}selected{% endif %}>Italy</option>
<option value="JP" {% if selected == 'JP' %}selected{% endif %}>Japan</option>
<option value="KE" {% if selected == 'KE' %}selected{% endif %}>Kenya</option>
<option value="MY" {% if selected == 'MY' %}selected{% endif %}>Malaysia</option>
<option value="MX" {% if selected == 'MX' %}selected{% endif %}>Mexico</option>
<option value="NL" {% if selected == 'NL' %}selected{% endif %}>Netherlands</option>
<option value="NZ" {% if selected == 'NZ' %}selected{% endif %}>New Zealand</option>
<option value="NG" {% if selected == 'NG' %}selected{% endif %}>Nigeria</option>
<option value="NO" {% if selected == 'NO' %}selected{% endif %}>Norway</option>
<option value="PK" {% if selected == 'PK' %}selected{% endif %}>Pakistan</option>
<option value="PH" {% if selected == 'PH' %}selected{% endif %}>Philippines</option>
<option value="PL" {% if selected == 'PL' %}selected{% endif %}>Poland</option>
<option value="PT" {% if selected == 'PT' %}selected{% endif %}>Portugal</option>
<option value="RU" {% if selected == 'RU' %}selected{% endif %}>Russia</option>
<option value="SA" {% if selected == 'SA' %}selected{% endif %}>Saudi Arabia</option>
<option value="SG" {% if selected == 'SG' %}selected{% endif %}>Singapore</option>
<option value="ZA" {% if selected == 'ZA' %}selected{% endif %}>South Africa</option>
<option value="ES" {% if selected == 'ES' %}selected{% endif %}>Spain</option>
<option value="SE" {% if selected == 'SE' %}selected{% endif %}>Sweden</option>
<option value="CH" {% if selected == 'CH' %}selected{% endif %}>Switzerland</option>
<option value="TH" {% if selected == 'TH' %}selected{% endif %}>Thailand</option>
<option value="TR" {% if selected == 'TR' %}selected{% endif %}>Turkey</option>
<option value="AE" {% if selected == 'AE' %}selected{% endif %}>United Arab Emirates</option>
<option value="GB" {% if selected == 'GB' %}selected{% endif %}>United Kingdom</option>
<option value="US" {% if selected == 'US' %}selected{% endif %}>United States</option>
<option value="VN" {% if selected == 'VN' %}selected{% endif %}>Vietnam</option> 