{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content %}
<div id="content-main">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row">
        <label>Current Document:</label>
        <div class="readonly">{{ current_filename }}</div>
      </div>
      <div class="form-row">
        <label>Current Key:</label>
        <div class="readonly">{{ key }}</div>
      </div>
      {% for field in form %}
        <div class="form-row">
          {{ field.errors }}
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
            <div class="help">{{ field.help_text|safe }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="Update Document" class="default" />
      <a href="{% url 'admin:agent_documentmanagement_changelist' %}" class="closelink">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}